<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
    <title>Clermont Ferrand voyage</title>
    <link href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="../global-style/globale-style.css">
</head>
<body>
    <header class="text-center shadow py-4 mb-4">
        <h1 class="p-2">Clermont Ferrand voyage</h1>
    </header>

    <main class="container">
        <section>
            <button class="btn btn-primary ms-auto d-block mb-4">Ajouter une offre</button>
        </section>

        <section id="card-container">

        </section>
    </main>

    <script src="../../controllers/home/home.controller.js"></script>
    <script src="../../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>